<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <!--header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark"> To Do Application</a>
                </div>
            </div>
        </nav>
    </header>
    <!--/header--> 

    <!--Main Site-->
        <main id ="site-main">
            <div class="container">
                <!--tasks-->
                    <from action="/" method="POST">
                        <table class="table">
                            <thead class="thed-dark">
                                <tr>
                                    <th>Task</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Yoga</td>
                                    <td>
                                        <a href="#" class="btn border-shadow udate">
                                            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                        </a>
                                        <a href="#" class="btn border-shadow delete">
                                            <span class="text-gradient"><i class="fas fa-times"></i></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </from>
                <!--/tasks-->
                <!--Add Task-->
                
                <div class="box-nav d- flex-justify-between" style="text-align:center;">
                    <a href="/add-task" class="border-shadow"><span class="text-gradient"><i class="fas fa-plus-circle"></i></span></a>
                </div>
                <!--/Add Task-->
            </div>
        </main>
    <!--Main Site-->
</body>
</html>