 <!-- form handling -->
 <form action="/api/task" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <input type="hidden" name="id" value="">
            <input type="text" name="item" value="" placeholder="YOGA">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>
 <!-- /form handling -->