<% for(var i = 0; i<task.length; i++){%>
<tr>
    <td><%= task[i].item%></td>
    <td>
        <a href="/update-task?id=<%= task[i]._id%>" class="btn border-shadow udate">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete" data-id=<%= task[i]._id%>>
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<%}%>