<tr>
    <td>Yoga</td>
    <td>
        <a href="/update-task" class="btn border-shadow udate">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>